body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	line-height:24px;
	color:#333333;
	background-color:#4A385B;
}

div {
	display:block;
}

#home-header {
    background: #415385;
    height: 40%;
    position:relative;
}

#header-content {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 70%;
    margin-top: -190px;
}

#header-content a {
	color: #6C9AAC;
}

#header-content a:hover {
	color: #6088AD;
}

#header-content h1 {
	color:#BCBCBC;
}


